<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
	  internalLoglevel="Trace"
	  internalLogLevel="C:\CompanyATM\Logs\internallog\internallog.log">
	 <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
	  <add assembly="NLog.Targets.Elasticsearch"/>
  </extensions>
	  <targets>
		  <target name="logfile" xsi:type="File"
				  fileName="C:\CompanyATM\Logs\$(shortdate)_logfile.log"
			      layout="${logdate} ${level:uppercase=true} ${message}"/>
		  
	  <target xsi:type="ElasticSearch" name="elastic" uri="http://216.230.74.17:9200/"
					index="NewElasticService">
				<layout xsi:type="JsonLayout">
					<!-- Define the log message properties -->
					<attribute name="timestamp" layout="${longdate}" />
					<attribute name="level" layout="${level:uppercase=true}" />
					<attribute name="message" layout="${message}" />
					<!-- Add additional properties if needed -->
				</layout>
			</target>
	  </targets>
  <rules>
	  <logger name="*" minlevel="Debug" writeTo="logfile" />
  <logger name="*" minlevel="Debug" writeTo="elastic" />
  </rules>
</nlog>
